.header {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #d89824;
  background-image: url(/images/3px-tile.png);
}

.name {
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
  margin-top: 0;
}

#texture {
  width: 100%;
  height: 400px;
}

.avatar {
  margin-top: 1rem;
}
